@model ParcialEvo.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}
<!Doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="$1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>${2:Untitled}</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="author" href="humans.txt">
</head>
<body>
    <form id="myform" action="/Home/Index" method="post">
        @Html.ActionLink("Inicio", "Index");
        @using (Html.BeginForm())
        {
            <p>Username: @Html.TextBoxFor(x => x.UserName) </p>
            <p>Password: @Html.PasswordFor(x => x.Password)  </p>
            @Html.HiddenFor(x => x.Nombre)
            <input type="button" onclick="loadDoc()" value="Enviar" />
        }
    </form>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        function loadDoc() {

            var email_val = $('#UserName').val();
            var password_val = $('#Password').val();
            var formData = { email: email_val, password: password_val }; //Array

            $.ajax({
                url: "http://ec2-52-36-25-213.us-west-2.compute.amazonaws.com/evoserv/public/api/login",
                type: "POST",
                data: formData,
                success: function (data, textStatus, jqXHR) {
                    console.log(data);
                    $('#Nombre').val(data.name);
                    $('form#myform').submit();
                    //window.location.replace("Index");
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.responseJSON);
                    window.location.replace("Login");
                }
            });
        }
    </script>
</body>
</html>
